@import "tailwindcss";

.products-heading {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color: orange;
    align-content: center;
}


.product-card > div {
    margin: 0 10px;
}