.card{
    padding-top: 30px;
    width: 300px;
    height: 400px;
    text-align: center;
    border-radius: 20px;
    background-color: teal;
    margin-top: 20px;
}

.card img {
    width: 200px;
    height: 200px;
    margin-right: 40px;
    transition: transform 0.3s ease;
    transform: rotate(0deg) ;
}
.card img:hover {
    transform: rotate(-35deg) scale(1.05);
    cursor: pointer;
}

.card h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
  position: relative;
}
.card h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  margin: 8px auto;
  border-radius: 2px;
}
.card h2:hover {
    cursor: pointer;
}
.card h2:hover::after {
  transition: ease-in-out .5s;
  
  width: 80px;
}

.product-description {
    padding-left: 20px;
    text-align: left;
}
.add-icon {
    border-radius: 50%;
    position: relative;
    padding: 4opx;
    font-size: 50px;
    color: white;
    cursor: pointer;
    background-color: orange;
    transition:  0.3s ease;
}