/* ----- PROJECTS SECTION ----- */
.projects-section {
    padding: 5rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.section-header {
    margin-bottom: 3rem;
}

.section-title {
    font-size: 2rem;
    color: var(--text-primary-color);
}

.projects-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
}

.project-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: var(--box-bg-color);
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
    text-decoration: none;
    color: var(--text-primary-color);
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-icon {
    font-size: 3rem;
    color: var(--text-accent-color);
    margin-bottom: 1.5rem;
    transition: color 0.4s;
    z-index: 2;
}

.project-card:hover .project-icon {
    color: var(--btn-text-color);
}

.project-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    transition: color 0.4s;
    z-index: 2;
}

.project-card:hover .project-title {
    color: var(--btn-text-color);
}

.project-info {
    font-size: 0.875rem;
    color: #777;
    transition: color 0.4s;
    z-index: 2;
}

.project-card:hover .project-info {
    color: var(--text-primary-color);
}

.project-card::after {
    content: "";
    position: absolute;
    bottom: -100%;
    background: var(--text-highlight-color);
    width: 100%;
    height: 100%;
    transition: 0.4s;
    z-index: 1;
}

.project-card:hover::after {
    bottom: 0;
}