
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.search-bar {
  width: 0;
  padding: 0;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid transparent;
  transition: all 0.5s ease-in-out; 
  opacity: 0;
}

.search-bar.active {
  width: 200px;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
  opacity: 1;
  margin-right: 15px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
  position: relative;
  padding-bottom: 5px;
}

.navbar ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var();
  transition: width 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
}

.navbar ul li a:hover::after,
.navbar ul li .active::after {
  width: 100%;
}

.navbar ul li a:hover {
  color: var();
}

.navbar ul li .active {
  color: var();
}
.search-bar {
  align-items: center;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
  background-color: transparent;
  transition: box-shadow 0.3s ease-in-out;
}
.search-bar:focus-within {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.search-bar {
  visibility: hidden;
}
.search-bar.active {
    visibility: visible;
}
.topnav-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.topnav-icon {
  padding: 10px;
  color: var();
  transition: background-color 0.3s, padding 0.3s;
  border-radius: 10%;
}
.cart-num {
  display: flex;
  top: 10px;
  padding: 5px;
}
.cart-num p {
  border-radius: 50%;
  text-align: center;
  padding: 2px 6px;
  font-size: 0.8rem;
  position: relative;
  top: -6px;
  left: -20px;
}

.cart-num:hover {
  cursor: pointer;
  border-radius: 10px;
}