#root {
  padding: 2rem;
  background-color: #282c34;
  --Primary-Accent-But-lin:	#00FF00;
  --Background-color:	#F5F5F5;
  --text-primary:	#333333;
  --text-secondary:	#666666;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.dark {
  --Primary-Accent-But-lin:	#00FF00;
  --Background-color:	#1E1E1E;
  --text-primary:	#FFFFFF;
  --text-secondary:	#CCCCCC;
  background-color: var(--Background-color);
  color: var(--text-primary);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(10px); /* The blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari support*/ 
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Optional: A subtle border */
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo h1 {
  font-size: 1.5rem;
  margin: 0; /* Added to remove default margin */
}
.logo h1 span {
  color: var(--Primary-Accent-But-lin); /* React blue color */
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  transition: color 0.3s ease-in-out; /* Added smooth color transition */
  position: relative;
  padding-bottom: 5px; /* Space for the underline */
}

.navbar ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--Primary-Accent-But-lin);
  transition: width 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
}

.navbar ul li a:hover::after,
.navbar ul li .active::after {
  width: 100%;
}

.navbar ul li a:hover {
  color: var(--Primary-Accent-But-lin);
}

.navbar ul li .active {
  color: var(--Primary-Accent-But-lin);
}
.search-bar {
  align-items: center;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
  background-color: transparent;
  transition: box-shadow 0.3s ease-in-out;
}
.search-bar:focus-within {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.search-bar {
  visibility: hidden;
}
.search-bar.active {
    visibility: visible;
}
.topnav-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.topnav-icon {
  padding: 10px;
  color: var(--Primary-Accent-But-lin);
  transition: background-color 0.3s, padding 0.3s;
  border-radius: 10%;
}
.cart-num {
  display: flex;
  top: 10px;
  padding: 5px;
}
.cart-num p {
  background-color: #61dafb;
  color: white;
  border-radius: 50%;
  text-align: center;
  padding: 2px 6px;
  font-size: 0.8rem;
  position: relative;
  top: -6px;
  left: -20px;
}

.cart-num:hover {
  background-color: gray;
  cursor: pointer;
  border-radius: 10px;
}