.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.card .profile-pic {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 15px;
}
.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.card .card-text {
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 40%);
}

.card button {
  background-color: hsl(200, 100%, 50%);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}
.card button:hover {
  background-color: hsl(200, 100%, 60%);
}